html{
	background-color:#7D7E7D;
	color:#fff;
}
.aboutContent{

}

form{
	border-left:1px solid #fff;
}
.aboutContent h3{
	padding:10px 0;
}

.aboutContent p{
	padding:2em;
}



input{

padding:1em;
width:80%;
 border: none;
 border-bottom: solid 2px #c9c9c9;
 transition: border 0.3s;
}


.contactform{


}
