/* Flexgrid */

*, *::after, *::before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-box-sizing: border-box;
}

.box{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	flex-wrap: wrap;
}

.box-item-nav{
	flex-grow: 1;
}
.box-item-article {
	flex-grow: 1;
	flex-basis: 20em;
}

.box-item-article-image {
	flex-grow: 1;
	flex-basis: 200px;
}

.box-item-article-text {
	flex-grow: 2;
	flex-basis: 20em;
}

@media (max-width: 30em) {
	.box-item-article-image {
		order: 2;
	}
}