html{
	background-color:#000;
	color:#fff;
}



h3{
	margin:0;
	padding:10px 0;
}

p{
	color:#fff;
	line-height:20px;
}


.heading{
	background-color: #000;
	color: #fff;
	text-align: center;
}

.pgContent{
	/*position: absolute;*/
	margin-top: auto;
	width: 100%;
	height: 200px;
	background-color: #fff;

}

.contentImg{
	display: inline-block;
	background-color: #fff;
	height: 40em;


}

.f1{
	background: url(../img/flights_mars_img.jpg) no-repeat;


-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: contain;
}

.f2{
	background: url(../img/flights_iss_img.jpg) no-repeat;


-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: contain;
}

.f3{
	background: url(../img/flights_mun_img.jpg) no-repeat;


-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: contain;
}

.flightTitle h2{
	text-align: center;
	z-index:2;
	color:#fff;

}

.flightButton a{
	float: none;
	z-index:3;
	display: block;
	width:100%;
  color: #000;

	height:40em;
  text-decoration: none;
  display: inline-block;
  /*position: relative;*/
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
	opacity:0.6;
	background-color:transparent;

}

.flightButton a:hover{
	background-color:#000;
}

.pButton a{
	float:right;
	border:1px solid #fff;
	padding:10px;
	margin-right:1em;
}

.flightContent{
	padding:1em;
	color:#000;
}
.flightContent p{

	color:#333;
}
