nav .box-item-nav ul {
	display: none;
}

nav .box-item-nav a:hover{
	background: #4b545f;
			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);

	list-style: none;
	position: relative;
	display: inline-table;
}
	nav .box-item-nav a:hover > ul {
		display: block;

	}

.heading{
	background-color: #000;
	color: #fff;
	text-align: center;
}

.pgContent{
	/*position: absolute;*/
	margin-top: auto;
	width: 100%;
	height: 200px;
	background-color: #fff;
}

.contentImg{
	display: inline-block;
	background-color: #ccc;
	height: 40em;

}

.flightTitle h2{
	text-align: center;

}

.flightButton a{
	float: none;
	width: 100px;
	display: block;
  padding: 0.5em 2em;
  color: #000;
  border: 1px solid #000;
 margin-left: auto;
 margin-right: auto;
  margin-top: 80%;
  text-decoration: none;
  display: inline-block;
  /*position: relative;*/
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;

}

.footer{

	width: 100%;
	padding: 10px;
	background-color: #000;
	height: 10%;
	display: inline-block;
	color: #fff;
}
