html{
	background-color:#000;
}

nav .box-item-nav ul {
	visibility:hidden;
}

nav .box-item-nav a:hover{
	background: #4b545f;
			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);

	list-style: none;
	position: relative;
	display: inline-table;
}
	nav .box-item-nav a:hover > ul {
		visibility:visible;

	}

.heading{
	background-color: #000;
	color: #fff;
	text-align: center;
}

.pgContent{
	/*position: absolute;*/
	margin-top: auto;
	width: 100%;
	height: 200px;
	background-color: #fff;
}

.contentImg{
	display: inline-block;
	background-color: #ccc;
	height: 40em;
	background: url(../img/spacex-dragon.jpg) no-repeat center center fixed;


-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}

.flightTitle h2{
	text-align: center;
	z-index:2;
	color:#fff;

}

.flightButton a{
	float: none;
	z-index:3;
	display: block;
	width:100%;
  color: #000;

	height:40em;
  text-decoration: none;
  display: inline-block;
  /*position: relative;*/
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
	opacity:0.6;
	background-color:#000;
}

.flightButton a:hover{
	background-color:transparent;
}



.footer{

	width: 100%;
	padding: 10px;
	background-color: #000;
	height: 10%;
	display: inline-block;
	color: #fff;
