/* Changes */
html{
	background-color:#222;
}

.homepage_image{

}
a {
	margin:0;
	padding:0;
}


.backgroundbox{

	background: url(../img/splash_img.jpg);

	background-repeat: no-repeat;
	background-position:center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	width:100%;
	height:auto;
	overflow: scroll
}

.shitontop{
	display: block;
	width: 100%;
	height: 600px;
}

.purchaseButton{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	opacity: 0.5;
	color: black;
	border: thin solid white;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	position: absolute;
	left:40%;
	width:20%;
	top: 100%;
}

.purchaseButton:hover{
	opacity: 0.85;
}

.categoryNames{
	margin-top: 3px;
	width: 240px;
	padding-top: 10px;
	margin: 0 auto;
	color: black;
}


.eventButton{
	width: 280px;
	height: 280px;
}

.backgroundBox{
	background-color: #222222;
	padding: 0;
}

.box-item-article-text{
	display: block;
	height: 50px;
	margin: 0 auto;
}

.box-item-article-image{
	text-align: center;
	margin-top: 20px;
	padding: 0;
}

.borderPatrol{
	width: 320px;
	border-bottom: thin solid white;
	margin: 0 auto;
	margin-top: 20px;

}

.imgBorder{
	padding:0;
	width: 70%;
	height: 95%;
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
	margin: 0 auto;
	margin-top: 20px;
}

/*.imgBorder a:hover{
	opacity:0.5;
	transition:opacity.8s ease;
}
.imgBorder a:hover .hoverText{

	transition:opacity.5s ease;
	visibility:visible;
}*/

.hoverText{

	color: black;
/*visibility:hidden;*/
	text-align:center;
}

/*modification after adding grid*/

.grid_12{
	background-color: #d3d3d3;
}

.footer .grid_12{
	background-color:#000;
}
#sectionTitle{
	text-align:center;
	color: black;
	padding:20px;
}

#columnItem{
	margin-bottom:2em;

}


.event1{

	/*background-size:240px;
	height:90%;*/

	background-size:cover;

	overflow:hidden;
	position:relative;
	margin-bottom:-5px;

}

.imgtext{
	position:absolute;
	top:0;
	left:0;
  	background: #000;
	background-size: cover;
  	opacity: 0;
	height: 280px;

}

.event1:hover .imgtext{
	opacity: 0.8;
  	text-align: center;
 	color: #fff;
	vertical-align:middle;
	width:100%;
	height: 100%;
}

.imgtext p{
	color: white;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 120%;
}

.imgtext h4{
	margin-top: 10%;
	color: white;
}


/* Tablet */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width : 700px) {

  .grid_1, .grid-1,
  .grid_2,  .grid-2,
  .grid_3, .grid-3,
  .grid_4, .grid-4,
  .grid_5, .grid-5,
  .grid_6, .grid-6,
  .grid_7, .grid-7,
  .grid_8,  .grid-8,
  .grid_9,  .grid-9,
  .grid_10, .grid-10,
  .grid_11, .grid-11,
  .grid-12,
  .grid-12 {
    width:100%;
  }
  .contentImg{
    display:none;
    height:0;
  }
	.footer .grid_2, .footer .grid-2{
		width: 15%;
	}

}


/* Mobile */
@media screen and (max-width: 480px) {
.contentImg{
    display:none;
    height:0;
  }
}
