html{
	background-color:#7D7E7D;
	color:#fff;
}

.pgContent{
	/*position: absolute;*/
	margin-top: auto;
	width: 100%;
	height: 200px;
	/*background-color: #fff;*/
}

.contentImg{
	display: inline-block;
	/*background-color: #ccc;*/
	height: 40em;

}

.relatedImg{
	width:100%;
	padding-left:5%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.flightTitle h2{
	text-align: center;

}

.flightButton a{
	float: none;
	width: 100px;
	display: block;
  padding: 0.5em 2em;
  color: #000;
  border: 1px solid #000;
 margin-left: auto;
 margin-right: auto;
  margin-top: 80%;
  text-decoration: none;
  display: inline-block;
  /*position: relative;*/
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;

}
.imgbox{


}

.textinfo{
	padding:2em;
	color:#fff;
	border-right: 1px solid #fff;
}

p{
 color:#fff;
}
.footer{

	width: 100%;
	padding: 10px;
	background-color: #000;
	height: 10%;
	display: inline-block;
	color: #fff;
}

.infotext{
	border-top:1px solid #fff;
	padding-top:10px;
	width:70%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
