/* ONE TWO */

html, body{
	margin: 0;
	padding: 0;
}

nav a, nav a:visited {
	width: 100%;
	display: inline-block;
	background-color: #222222;
	color: #FFFFFF;
	padding: 1em 1.25em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

@font-face {
	font-family: "Futura";
	font-weight: normal;
	font-style: normal;
	src: url('fonts/FuturaStd-Light.otf') format('opentype');
}

@font-face {
	font-family: "Futura-Medium";
	font-weight: normal;
	font-style: normal;
	src: url('fonts/FuturaStd-Medium.otf') format('opentype');
}

@font-face {
	font-family: "Logo";
	font-weight: normal;
	font-style: normal;
	src: url('fonts/space age.ttf') format('truetype');
}

a{
	text-decoration: none;
	color: white;
}

nav a:active, a:hover {
	background-color: #A7A9AB;
}

img {
	height: auto;
	max-width: 100%;
}

p {
	font-family: "Futura";
	color: black;
}

.header {
	display: block;
	padding: 5px;
	background-color: #222222;
	color: white;
	text-align: center;
	position:fixed;
	top: 0;
	width:100%;
	clear: left;
}


h1{
	display: block;
	position: absolute;
	font-family: "Logo";
	font-size: 2em;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	background-color: #222222;
	color: white;
	margin: 0;
}

.placeholderBox{
	display:block;
	padding-top: 46px;
	padding-bottom: 46px;
}

h2{
	font-family: "Futura-Medium";
	font-size: 30;
}

h3{
	font-family: "Futura-Medium";
	font-size: 20;
}

h4{
	font-family: "Futura-Medium";
	font-size: 10;
	margin-bottom: 0;
	color: black;
	margin-top: 5px;
}

p {
	font-family: "Futura";
	font-size: 15;
}

form {
	display: block;
	padding: 1em;
	padding-bottom: 0;
	font-family: "Futura";
}

.input-wrapper {
	margin: 0 0 1em 0; /* Here we are defining the margins for 'top right bottom left' */
}

label{
	display:block;
}

.blackblocks{
	display: inline-block;
	margin: 1 1 1 1;
	padding: 1em;
	background-color: #222222;
	border: solid #222222;
	color: white;
}

.whiteblocks{
	display: inline-block;
	margin: 1 1 1 1;
	padding: 1em;
	background-color: #FFFFFF;
	border: solid #222222;
	color: black;
}

.redblocks{
	display: inline-block;
	margin: 1 1 1 1;
	padding: 1em;
	background-color: #761117;
	border: solid #761117;
	color: white;
}

.greyblocks{
	display: inline-block;
	margin: 1 1 1 1;
	padding: 1em;
	background-color: #A7A9AB;
	border: solid #A7A9AB;
	color: white;
	clear: right;
}

.blacktext {
	color: #222222;
}

.whitetext {
	color: #FFFFFF;
	background-color: #222222;
	padding: 0.5em;
}

.redtext {
	color: #761117;
}

.greytext {
	color: #A7A9AB;
}

a {
	font-family: "Futura";
}

a.blackbutton {
	display: inline-block;
 	padding: 1em 1em;
  	color: #222222;
  	border: solid #222222;
  	text-decoration: none;
}

a.blackbutton:hover, a.blackbutton:active{
	background-color: #222222;
	color: white;
}

a.redbutton {
	display: inline-block;
 	padding: 1em 1em;
  	color: #761117;
  	border: solid #761117;
  	text-decoration: none;
}

a.redbutton:hover, a.redbutton:active{
	background-color: #761117;
	color: white;
}

a.greybutton {
	display: inline-block;
 	padding: 1em 1em;
  	color: #A7A9AB;
  	border: solid #A7A9AB;
  	text-decoration: none;
}

a.greybutton:hover, a.greybutton:active{
	background-color: #A7A9AB;
	color: white;
}

.webnavbar {
	background-color: #222222;
}

.bodytext {
	display: inline-block;
	margin-left: 3em;
	width: 70%;
	padding-top: 7em;
}

.sampleCode {
	color:#761117;
}

.samplenav{
	height: 40px;
}

.placeholderSplashImage{
	display:inline-block;
	width: 100%;
    height: 30em;
    border: 25px solid navy;
	border: 1px solid black;
}

.mobilenav nav {
	position: static;

}
.contentt {
	margin-top: 0%;
	width: 100%;
	display: inline-block;
}