
	* {
		margin: 0;
		padding: 0;
	}



	nav .navitems ul {
		display: none;
	}

	nav .navitems a:hover{
		background: #4b545f;
				background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
				background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
				background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);

		list-style: none;
		position: relative;
		display: inline-table;
	}
	nav .navitems a:hover > ul {
			display: block;

	}


	.navitems{
		text-align:center;
	}


	.mobilenav ul {
		width:80%;
		list-style: none;
		background: #222;
		display: inline;
	}

	.mobilenav li {
		width:33%;
		float:left;
		border-right: 1px solid #eee;
		display: inline;
	}
	.mobilenav li:last-child {
		border-right:none;
	}

	.mobilenav li a {
		display: block;
		width:100%;
		background:#222;
		padding:4% 10%;
		font-size:1em;
		text-decoration: none;
		color: #fff;
	}





	@media screen and (max-width: 768px) {
		#menu {
			width:1.4em;
			display: block;
			background:#222;
			color: #fff;
			font-size:1em;
			text-align: center;
		}
		#nav.js {
			display: none;
		}
		.mobilenav ul {
			width:100%;
		}
		.mobilenav li {
			width:100%;
			border-right:none;
		}
	}

	@media screen and (min-width: 768px) {
		#menu {
			display: none;
		}
	}
