.header{
  background-color:#222;
}

body{
  background-color:#000;
}
input{

  padding:20px;
width:90%;
 border: none;
 border-bottom: solid 2px #c9c9c9;
 transition: border 0.3s;
}

form .grid_4{
  height:80px;
}

form .grid_6{
  height:80px;
}

#subButton{
  border:1px solid #333;
  padding:10px;
}
