.header{
  background-color:#222;
}

body{
  background-color:#000;
}
input{

  padding:20px;
width:90%;
 border: none;
 border-bottom: solid 2px #c9c9c9;
 transition: border 0.3s;
}

form .grid_4{
  height:80px;
}

form .grid_6{
  height:80px;
}

#subButton{
  border:1px solid #333;
  padding:10px;
}

@media screen and (max-width : 700px) {

  .grid_1, .grid-1,
  .grid_2,  .grid-2,
  .grid_3, .grid-3,
  .grid_4, .grid-4,
  .grid_5, .grid-5,
  .grid_6, .grid-6,
  .grid_7, .grid-7,
  .grid_8,  .grid-8,
  .grid_9,  .grid-9,
  .grid_10, .grid-10,
  .grid_11, .grid-11,
  .grid-12,
  .grid-12 {
  	width:100%;
  }
}
