@font-face {
	font-family: "Futura";
	font-weight: normal;
	font-style: normal;
	src: url('fonts/FuturaStd-Light.otf') format('opentype');
}

@font-face {
	font-family: "Futura-Medium";
	font-weight: normal;
	font-style: normal;
	src: url('fonts/FuturaStd-Medium.otf') format('opentype');
}

@font-face {
	font-family: "Logo";
	font-weight: normal;
	font-style: normal;
	src: url('fonts/space age.ttf') format('truetype');
}

body, html{
	width: 100%;
	padding: 0;
	margin: 0;
}

.specialtyGrid {width: 12.5%;}

nav{
	background-color: #222222;
	position: fixed;
	top: 0;
	z-index: 1;
	margin-left: 5%;
	margin-right: 5%;
}

nav a{
	display: inline-block;
	margin: 0.25em;
	padding: 0.25em 3.5em;
}

nav a:hover{
	background-color: #A7A9AB;
}

h2{
	font-family: "Futura-Medium";
	text-align: left;
	margin-top: 20px;
}

.headingType{
	color: #222222;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

h3{
	font-family: "Futura-Medium";
	text-align: left;
	margin-top: 10px;
}

h4{
	font-family: "Futura-Medium";
	text-align: left;
	margin-top: 10px;
}

p{
	font-family: "Futura";
	text-align: left;
	margin-top: 10px;
	line-height: 15px;
}

.containingBox{
	padding-left: 5%;
	padding-right: 5%;
}

code{
	color: #761117;
}

.coloredblocks{
	display: block;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
}

.blackblocks{
	display: inline-block;
	background-color: #222222;
	color: white;
	width: 15%;
	padding-left: 5%;
}

.whiteblocks{
	display: inline-block;
	color: black;
	width: 15%;
	padding-left: 5%;
}

.redblocks{
	display: inline-block;
	background-color: #761117;
	color: white;
	width: 15%;
	padding-left: 5%;
}

.greyblocks{
	display: inline-block;
	background-color: #A7A9AB;
	color: white;
	width: 15%;
	padding-left: 5%;
}

.blacktext{
	color: #222222;
}

.whitetext{
	background-color: #222222;
	color: #FFFFFF;
}


.redtext{
	color: #761117;
}


.greytext{
	color: #A7A9AB;
}

.blackbutton{
	background-color: #222222;
	padding: 10px;
	opacity: 0.7;
	border: thin solid black;
	margin-right: 5%;
	border-radius: 20px;

}

.redbutton{
	background-color: #761117;
	padding: 10px;
	opacity: 0.7;
	border: thin solid black;
	margin-right: 5%;
	border-radius: 20px;
}

.greybutton{
	background-color: #A7A9AB;
	padding: 10px;
	opacity: 0.7;
	border: thin solid black;
	margin-right: 5%;
	border-radius: 20px;
}

.event1{

	/*background-size:240px;
	height:90%;*/

	background-size:cover;

	overflow:hidden;
	position:relative;
	margin-bottom:-5px;

}

.imgtext{
	position:absolute;
	top:0;
	left:0;
  	background: #000;
	background-size: cover;
  	opacity: 0;
	height: 280px;

}

.event1:hover .imgtext{
	opacity: 0.8;
  	text-align: center;
 	color: #fff;
	vertical-align:middle;
	width:100%;
	height: 100%;
}

.imgtext p{
	color: white;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	line-height: 120%;
}

.imgtext h4{
	margin: 10%;
	color: white;
}


ul{
	margin-left:0;
	padding-left:0;
}
li{
	display: inline-block;
	width: 32%;
	background-color: #222222;
	list-style-type: none;
	font-size: 16px;
	padding: 10px 0;
	text-align: center;
}

#invisibleMonkey{
	display:none;
}

.navTest li:hover{

	background-color: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);

}

.navTest{
	display: block;
	width: 100%;
	display: inline-block;
	background-color: #222222;
	color: #FFFFFF;

	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
	}



a{
	font-family: "Futura";
	color: white;
	text-decoration: none;
}

a:hover{
	opacity: 1;
}

*, *::after, *::before {
	box-sizing: border-box;
}
fieldset{
	border:0;
}
/* STAR RATING CSS STARTS */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:left;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;

}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #21272b;

}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;

}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #21272b;

}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}


@media screen and (max-width: 768px){

	#invisibleMonkey{
		display:block;
	}

	ul li ul{
		list-style: none;
		display: block;
		position: absolute;
		opacity: 0;
		left: 0;
		visibility: hidden;
		clear: right;
	}

	ul li:hover ul{
		list-style: none;
		display: block;
		position: absolute;
		opacity: 1;
		left: 0;
		visibility: visible;
		clear: right;
	}
}
